.formrow {
    display: block;
    margin: 1em;
}
body {
    border: double blue;
    width: 50%
}

h1 {
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableHeader {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
    padding: 10px;
    display: inline-block;
}

span {
    color: red;
}